.c{

    &-product{
        & > img {
            border-radius:5px;
        }
        &__info{
            
            h3 {
                font-size: 22px;
                font-weight: 600;
            }
        }
        &__info > * {
            margin: 15px 0;
        }
    }
}